<main>
    <div class="row g-4">

        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Homepage</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Catalog</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link disabled">FAQ</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item pt-2">
                            <div class="card">
                                <a href="#" class="nav-link">Homepage</a>
                            </div>
                        </div>
                        <div class="nav-item pt-2">
                            <div class="card">
                                <a href="#" class="nav-link">Catalog</a>
                            </div>
                        </div>
                        <div class="nav-item pt-2 pb-2">
                            <div class="card">
                                <a href="#" class="nav-link disabled">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">PC and laptops</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Accessories</a>
                </li>
            </ol>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-12">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC and laptops</a>
                        </li>
                        <li class="breadcrumb-item">
                            Accessories
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-12">
            <h6>Subwoofer <span class="badge text-bg-warning rounded-pill">NEW</span></h6>
            <br>
            <button class="btn btn-primary rounded-pill">Dubstep now!</button>
            <br>
            <br>
            <div class="alert alert-primary">This is not a joke!</div>
        </div>

        <button class="btn btn-primary rounded-pill m-5">Dubstep now!</button>
        <div class="alert alert-secondary">
            <h6>Subwoofer <span class="badge text-bg-warning rounded-pill">NEW</span></h6>
            <br>
            <button class="btn btn-primary rounded-pill">Dubstep now!</button>
            <br>
            <br>
            <div class="alert alert-primary">This is not a joke!</div>
        </div>

    </div>
</main>