<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="My education" isBig=true}}
            <ul>
                {{#each educations}}
                <li>
                    {{name}}
                    {{#unless isEnd}} (в процесі вивчення) {{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>
        <section>
            {{> title data="My certificates"}}
            <ul>
                {{#each certificates}}
                <li>
                    {{name}}
                    {{#if id}} ({{id}}) {{/if}}
                </li>
                {{/each}}
            </ul>
        </section>

    {{/with}}
    </main>
</div>