<div class="row">
    <div class="card m-3">
        <img class="card-img-side col-2 p-2" src={{image}} alt="Product photo">
        <div class="col-4">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
        </div>
    </div>

</div>