 {{#each cards}}
    <div class="card col-4 my-2">
        <img class="card-img-top" src={{image}} alt="Product photo">
        <div class="card-body">
            <h5 class="card-title">
                {{title}}
                {{#if isHot}}
                    <span class="badge text-bg-warning">Hot</span>
                {{/if}}
                {{#if isNew}}
                    <span class="badge text-bg-primary">New</span>
                {{/if}}
            </h5>
            <p>{{description}}</p>
        </div>
    </div>
{{/each}}