  <div>
        {{#each footer}}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href={{link}}>{{text}}</a>
                </li>
            </ul>
        {{/each}}
    </div>

    <div class="row">
        <hr>
        {{#each footer}}
            <div class="col-2">
                {{#each this}}
                    <div class="mt-3">
                        <a class="btn btn-link {{#if @last}} disabled {{/if}}" href="{{href}}"> {{text}} </a>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>